<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--CHANGE THIS LINE FOR THEME-->
    <link rel="stylesheet" href="themes/forest.min.css" />

    <!-- Include the jQuery CSS -->
    <link rel="stylesheet" href="jquery.mobile-1.4.5/jquery.mobile.icons-1.4.5.min.css" />
    <link rel="stylesheet" href="jquery.mobile-1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <!-- Include the jQuery library -->
    <script src="jquery.mobile-1.4.5/jquery-1.11.3.js"> </script>
    <!-- Include the jQuery Mobile library -->
    <script src="jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"> </script>

</head>
<body>
<div data-role="page" data-theme="a">

    <!-- ANY STUFF TO PUT IN THE HEADER -->
    <div data-role="header">
        <h1>Single page</h1>
    </div>

    <!-- ALL THE MAIN STUFF GOES HERE -->
    <div data-role="main" class="ui-content">
        <!-- NAVIGATION -->
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-action">action</button>
        <div align="right">
            <a href="#" data-role="button" data-icon="action" data-iconpos="notext" ></a>
        </div align=left>
        <div>
            <a href="#" data-role="button" data-icon="alert" data-iconpos="notext" ></a>
        </div>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-alert">alert</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-d">arrow-d</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-d-l">arrow-d-l</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-d-r">arrow-d-r</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-l">arrow-l</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-r">arrow-r</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-u">arrow-u</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-u-l">arrow-u-l</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-u-r">arrow-u-r</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-audio">audio</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back">back</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-bars">bars</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-bullets">bullets</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-calendar">calendar</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-camera">camera</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-carat-d">carat-d</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-carat-l">carat-l</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-carat-r">carat-r</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-carat-u">carat-u</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-check">check</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-clock">clock</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-cloud">cloud</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-comment">comment</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-delete">delete</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-edit">edit</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-eye">eye</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-forbidden">forbidden</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-forward">forward</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-gear">gear</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-grid">grid</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-heart">heart</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-home">home</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-info">info</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-location">location</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-lock">lock</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-mail">mail</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-minus">minus</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-navigation">navigation</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-phone">phone</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-plus">plus</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-power">power</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-recycle">recycle</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-refresh">refresh</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-search">search</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-shop">shop</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-star">star</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-tag">tag</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-user">user</button>
        <button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-video">video</button>
    </div>

        <!--
            FOOTER STUFF GOES HERE.
            HAS SOCIAL MEDIA BUTTONS
        -->
        <div data-role="footer" align="right">
            <div class="ui-grid-b" style="padding: 2%;" align="middle">
                <div class="ui-block-a" style="height:100%">
                    <img style="height:30px;" src="img/f.png" is="image" align="middle">
                </div>

                <div class="ui-block-b" style="height:100%">
                    <img style="height:30px;" src="img/t.png" is="image" align="middle">
                </div>
                <div class="ui-block-c" style="height:100%">
                    <img style="height:30px;" src="img/i.png" is="image" align="middle">
                </div>
            </div>
            <h1>&copy; Wild 2016<h1>
        </div>
    </div>
</body>
</html>