<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="themes/halocity.min.css" />
    <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <script src="jquery.mobile-1.4.5/jquery-1.11.3.js"> </script>
    <!-- Include the jQuery Mobile library -->
    <script src="jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"> </script>
    <script>
        $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
            if (applicationCache &&
                    applicationCache.status != applicationCache.UNCACHED &&
                    applicationCache.status != applicationCache.OBSOLETE
                    ) {
                options.isLocal = true;
            }
        });

    </script>
    <title>Test</title>

    <style>
        table tr td {
            min-width: 20%;
            text-align: right;
            padding-left: 10px;
            padding-right: 10px;
        }

    </style>

</head>
<body>
<div data-role="page" data-theme="b">
    <div data-role="main" class="ui-content" >

        <div align="right">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="false" >
                <a href="./index.html" data-role="button" data-icon="home" data-iconpos="notext" >Home</a>
                <a href="./profile.html" data-role="button" data-icon="user" data-iconpos="notext">Profile</a>
                <a data-role="button" data-icon="shop" data-iconpos="notext" class="ui-btn-active">Cart</a>
            </fieldset>
        </div>

        <h1 align="center">Purchases</h1>


        <div data-role="collapsible" data-iconpos="right">
            <h3>1st September 2015</h3>

            <table>
                <tr>
                    <th>Item</th>
                    <th>Quanity</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Shoes</td>
                    <td>2</td>
                    <td>1800.00</td>
                </tr>
                <tr>
                    <td>Tie</td>
                    <td>1</td>
                    <td>1800.00</td>
                </tr>
                <tr>
                    <td>Shirt</td>
                    <td>1</td>
                    <td>1750.00</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>Total</td>
                    <td>5350.00</td>
                </tr>
            </table>
        </div>
        <div>
        <div data-role="collapsible" data-iconpos="right">
            <h3>3rd September 2015</h3>

            <table>
                <tr>
                    <th>Item</th>
                    <th>Quanity</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Shoes</td>
                    <td>2</td>
                    <td>1800.00</td>
                </tr>
                <tr>
                    <td>Tie</td>
                    <td>1</td>
                    <td>1800.00</td>
                </tr>
                <tr>
                    <td>Shirt</td>
                    <td>1</td>
                    <td>1750.00</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>Total</td>
                    <td>5350.00</td>
                </tr>
            </table>
        </div>
        <div>
        <div data-role="collapsible" data-iconpos="right">
            <h3>22nd January 2016</h3>

            <table>
                <tr>
                    <th>Item</th>
                    <th>Quanity</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Shoes</td>
                    <td>2</td>
                    <td>1800.00</td>
                </tr>
                <tr>
                    <td>Tie</td>
                    <td>1</td>
                    <td>1800.00</td>
                </tr>
                <tr>
                    <td>Shirt</td>
                    <td>1</td>
                    <td>1750.00</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>Total</td>
                    <td>5350.00</td>
                </tr>
            </table>
        </div>

    </div>


    <div data-role="footer" align="right">
        &copy; Wild 2016
    </div>
</div>
</body>
</html>