<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="themes/halocity.min.css" />
    <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <script src="jquery.mobile-1.4.5/jquery-1.11.3.js"> </script>
    <!-- Include the jQuery Mobile library -->
    <script src="jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"> </script>
    <script>
        $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
            if (applicationCache &&
                    applicationCache.status != applicationCache.UNCACHED &&
                    applicationCache.status != applicationCache.OBSOLETE
                    ) {
                options.isLocal = true;
            }
        });

    </script>
    <title>Gallery</title>
</head>
<body>
<div data-role="page" data-theme="b">
    <div data-role="main" class="ui-content" data-theme="a">
        <div align="right">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="false" >
                <a href="./index.html" data-role="button" data-icon="home" data-iconpos="notext" >Home</a>
                <a href="./profile.html" data-role="button" data-icon="user" data-iconpos="notext">Profile</a>
                <a href="./cart.html" data-role="button" data-icon="shop" data-iconpos="notext" >Cart</a>
            </fieldset>
        </div>

        <h1 align="center">Gallery</h1>


        <div class="ui-grid-b" style="padding: 2%;" align="middle">

            <div class="ui-block-a" style="height:100%">
                <a href="product.html">  <img style="width:95%; height:95%" src="img/inventory/1.jpg" is="image" align="middle">
                </a>
            </div>
            <div class="ui-block-b" style="height:100%">
                <a href="product.html"><img style="width:95%; height:95%" src="img/inventory/2.jpg" is="image" align="middle">
                    </a>
            </div>
            <div class="ui-block-c" style="height:100%">
                <a href="product.html"><img style="width:95%; height:95%" src="img/inventory/3.jpg" is="image" align="middle"></a>
                <p></p>
            </div>


            <div class="ui-block-a" style="height:100%">
                <img style="width:95%; height:95%" src="img/inventory/6.jpg" is="image" align="middle">
            </div>
            <div class="ui-block-b" style="height:100%">
                <img style="width:95%; height:95%" src="img/inventory/4.jpg" is="image" align="middle">
            </div>
            <div class="ui-block-c" style="height:100%">
                <img style="width:95%; height:95%" src="img/inventory/5.jpg" is="image" align="middle">
                <p></p>
            </div>

            <div class="ui-block-a" style="height:100%">
                <img style="width:95%; height:95%" src="img/inventory/7.jpg" is="image" align="middle">
            </div>
            <div class="ui-block-b" style="height:100%">
                <img style="width:95%; height:95%" src="img/inventory/8.jpg" is="image" align="middle">
            </div>
            <div class="ui-block-c" style="height:100%">
                <img style="width:95%; height:95%" src="img/inventory/9.jpg" is="image" align="middle">
                <p></p>
            </div>

            <div class="ui-block-a" style="height:100%">
                <img style="max-width:95%; min-width:95%" src="img/inventory/10.jpg" is="image" align="middle">
            </div>
            <div class="ui-block-b" style="height:100%">
                <img style="max-width:95%; min-width:95%" src="img/inventory/11.jpg" is="image" align="middle">
            </div>
        </div>

    </div>

    <div data-role="footer" align="right">
        &copy; Wild 2016
    </div>
</div>
</body>
</html>