<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--CHANGE THIS LINE FOR THEME-->
    <link rel="stylesheet" href="themes/forest.min.css" />
    <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="jquery.mobile-1.4.5/jquery.mobile.structure-1.4.5.min.css" />

    <link rel="stylesheet" href="jquery.mobile-1.4.5/css/unslider.css" />
    <link rel="stylesheet" href="jquery.mobile-1.4.5/css/unslider-dots.css" />
    <!-- Include jQuery Mobile stylesheets -->

    <!-- Include the jQuery library -->
    <script src="jquery.mobile-1.4.5/jquery-1.11.3.js"> </script>
    <!-- Include the jQuery Mobile library -->
    <script src="jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"> </script>
    <script src="jquery.mobile-1.4.5/unslider-min.js"> </script>

    <script>
        jQuery(document).ready(function($) {
            $('.my-slider').unslider({
                autoplay: true,
                infinite: true,
                arrows: false
            });
        });
    </script>

    <title>INSERT TITLE HERE</title>

</head>
<body>
<div data-role="page" data-theme="b">

    <!-- ANY STUFF TO PUT IN THE HEADER -->
    <div data-role="header">
        <a align="right" data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-active" >Home</a>
        <h1>I AM TITLE</h1>
        <a align="left" data-role="button" data-icon="info" data-iconpos="notext" class="ui-btn-active" >Home</a>
    </div>

    <!-- ALL THE MAIN STUFF GOES HERE -->
    <div data-role="main" class="ui-content">
        <!-- NAVIGATION -->
        <div align="right">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="false" >
                <a data-role="button" data-icon="home" data-iconpos="notext" class="ui-btn-active" >Home</a>
                <a href="#" data-role="button" data-icon="user" data-iconpos="notext">Profile</a>
                <a href="#" data-role="button" data-icon="shop" data-iconpos="notext">Cart</a>
            </fieldset>
        </div>

        <!-- BIG IMAGE WHOLE -->
        <div style="width:100%;;">
            <a href="#"><img style="width:100%; opacity: 1.0;" src="img/main.jpg" /></a>
        </div>

        <!-- TITLE AND A CAPTION -->
        <div>
            <h2>Wild</h2>
            <p>The only place for your clothes</p>
        </div>

        <!-- BIG LONG BUTTONS -->
        <a href="#" data-role="button" data-iconpos="right" data-icon="carat-r" >Click me!</a>
        <a href="#" data-role="button" data-icon="star">Star button</a>

        <!-- SLIDER -->
        <br />
        <br />
        <br />
        <br />

        <div class="my-slider">
            <ul>
                <li>
                    <img style="width:100%; " src="img/main.jpg" />
                </li>
                <li>
                    <img style="width:100%; " src="img/main.jpg" />
                </li>
                <li>
                    <img style="width:100%; " src="img/main.jpg" />
                </li>
            </ul>
        </div>

        <br />
        <br />
        <br />
        <br />


        <!--
            COLLAPSIBLE AREA
        -->
        <div data-role="collapsible" data-iconpos="right">
            <h3>Put a title here</h3>
            <table>
                <tr>
                    <th>Item</th>
                    <th>Quanity</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Shirt</td>
                    <td>1</td>
                    <td>1750.00</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>Total</td>
                    <td>5350.00</td>
                </tr>
            </table>
        </div>






        <!--
            SEARCHABLE LIST
        -->
        <ul data-role="listview" data-inset="true" data-filter="true">
            <li><a href="#">Acura</a> </li>
            <li><a href="#">Audi</a> </li>
            <li><a href="#">BMW</a> </li>
            <li><a href="#">Cadillac</a> </li>
            <li><a href="#">Ferrari</a> </li>
        </ul>



        <!--
            GRID OF IMAGES
        -->
        <div class="ui-grid-b" style="padding: 2%;" align="middle">
            <div class="ui-block-a" style="height:100%">
                <a href="#">  <img style="width:95%; height:95%" src="img/1.jpg" is="image" align="middle">
                </a>
            </div>
            <div class="ui-block-b" style="height:100%">
                <a href="#"><img style="width:95%; height:95%" src="img/2.jpg" is="image" align="middle">
                </a>
            </div>
            <div class="ui-block-c" style="height:100%">
                <a href="#"><img style="width:95%; height:95%" src="img/3.jpg" is="image" align="middle"></a>
                <p></p>
            </div>

            <div class="ui-block-a" style="height:100%">
                <img style="max-width:95%; min-width:95%" src="img/10.jpg" is="image" align="middle">
            </div>
            <div class="ui-block-b" style="height:100%">
                <img style="max-width:95%; min-width:95%" src="img/11.jpg" is="image" align="middle">
            </div>
        </div>

        <!--
            FORM
        -->
        <form>

            <div data-role="fieldcontain">
                <label for="name">Text Input:</label>
                <input type="text" name="name" id="name" value=""  />
            </div>

            <div data-role="fieldcontain">
                <label for="textarea">Textarea:</label>
                <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
            </div>

            <div data-role="fieldcontain">
                <label for="search">Search Input:</label>
                <input type="search" name="password" id="search" value=""  />
            </div>

            <div data-role="fieldcontain">
                <label for="slider2">Flip switch:</label>
                <select name="slider2" id="slider2" data-role="slider">
                    <option value="off">Off</option>
                    <option value="on">On</option>
                </select>
            </div>

            <div data-role="fieldcontain">
                <label for="slider">Slider:</label>
                <input type="range" name="slider" id="slider" value="50" min="0" max="100" data-highlight="true"  />
            </div>

            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <legend>Choose as many snacks as you'd like:</legend>
                    <input data-theme="b" type="checkbox" name="checkbox-1a" id="checkbox-1a" class="custom" />
                    <label for="checkbox-1a">Cheetos</label>

                    <input type="checkbox" name="checkbox-2a" id="checkbox-2a" class="custom" />
                    <label for="checkbox-2a">Doritos</label>

                    <input data-theme="b" type="checkbox" name="checkbox-3a" id="checkbox-3a" class="custom" />
                    <label for="checkbox-3a">Fritos</label>

                    <input type="checkbox" name="checkbox-4a" id="checkbox-4a" class="custom" />
                    <label for="checkbox-4a">Sun Chips</label>
                </fieldset>
            </div>

            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <legend>Font styling:</legend>
                    <input type="checkbox" name="checkbox-6" id="checkbox-6" class="custom" />
                    <label for="checkbox-6">b</label>

                    <input type="checkbox" name="checkbox-7" id="checkbox-7" class="custom" />
                    <label for="checkbox-7"><em>i</em></label>

                    <input type="checkbox" name="checkbox-8" id="checkbox-8" class="custom" />
                    <label for="checkbox-8">u</label>
                </fieldset>
            </div>

            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <legend>Choose a pet:</legend>
                    <input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" checked="checked" />
                    <label for="radio-choice-1">Cat</label>

                    <input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2"  />
                    <label for="radio-choice-2">Dog</label>

                    <input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3"  />
                    <label for="radio-choice-3">Hamster</label>

                    <input type="radio" name="radio-choice-1" id="radio-choice-4" value="choice-4"  />
                    <label for="radio-choice-4">Lizard</label>
                </fieldset>
            </div>

            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <legend>Layout view:</legend>
                    <input type="radio" name="radio-choice-b" id="radio-choice-c" value="on" checked="checked" />
                    <label for="radio-choice-c">List</label>
                    <input type="radio" name="radio-choice-b" id="radio-choice-d" value="off" />
                    <label for="radio-choice-d">Grid</label>
                    <input type="radio" name="radio-choice-b" id="radio-choice-e" value="other" />
                    <label for="radio-choice-e">Gallery</label>
                </fieldset>
            </div>

            <div data-role="fieldcontain">
                <label for="select-choice-1" class="select">Choose shipping method:</label>
                <select name="select-choice-1" id="select-choice-1">
                    <option value="standard">Standard: 7 day</option>
                    <option value="rush">Rush: 3 days</option>
                    <option value="express">Express: next day</option>
                    <option value="overnight">Overnight</option>
                </select>
            </div>

            <div data-role="fieldcontain">
                <label for="select-choice-3" class="select">Your state:</label>
                <select name="select-choice-3" id="select-choice-3">
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>

            <div data-role="fieldcontain">
                <label for="select-choice-a" class="select">Choose shipping method:</label>
                <select name="select-choice-a" id="select-choice-a" data-native-menu="false">
                    <option>Custom menu example</option>
                    <option value="standard">Standard: 7 day</option>
                    <option value="rush">Rush: 3 days</option>
                    <option value="express">Express: next day</option>
                    <option value="overnight">Overnight</option>
                </select>
            </div>

            <div data-role="collapsible" data-iconpos="right" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <h3>Change password</h3>

                <div data-role="fieldcontain">
                    <label for="oPassword">Old password</label>
                    <input type="text" name="oPassword" id="oPassword" value=""  />
                </div>
                <div data-role="fieldcontain">
                    <label for="nPassword">New password</label>
                    <input type="text" name="nPassword" id="nPassword" value=""  />
                </div>
                <div data-role="fieldcontain">
                    <label for="cPassword">Confirm password</label>
                    <input type="text" name="cPassword" id="cPassword" value=""  />
                </div>

                <input type="button" value="Confirm" />
            </div>

            <div data-role="collapsible" data-iconpos="right">
                <h3>Expand me</h3>
                <div data-role="fieldcontain">
                    <label for="crange">How much shizzle</label>
                    <input type="range" name="crange" id="crange" value="1" min="1" max="3" />
                </div>
                <a href="" data-role="button" data-iconpos="right" data-icon="star" >Add to Cart!</a>
            </div>
        </form>
    </div>

        <!--
            FOOTER STUFF GOES HERE.
            HAS SOCIAL MEDIA BUTTONS
        -->
        <div data-role="footer" align="right">
            <div class="ui-grid-b" style="padding: 2%;" align="middle">
                <div class="ui-block-a" style="height:100%">
                    <img style="height:30px;" src="img/f.png" is="image" align="middle">
                </div>

                <div class="ui-block-b" style="height:100%">
                    <img style="height:30px;" src="img/t.png" is="image" align="middle">
                </div>
                <div class="ui-block-c" style="height:100%">
                    <img style="height:30px;" src="img/i.png" is="image" align="middle">
                </div>
            </div>
            <h1>&copy; Wild 2016</h1>
        </div>
    </div>
</body>
</html>