<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="themes/halocity.min.css" />
    <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="jquery.mobile-1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <!-- Include jQuery Mobile stylesheets -->

    <!-- Include the jQuery library -->
    <script src="jquery.mobile-1.4.5/jquery-1.11.3.js"> </script>
    <!-- Include the jQuery Mobile library -->
    <script src="jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"> </script>
    <script>
        $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
            if (applicationCache &&
                    applicationCache.status != applicationCache.UNCACHED &&
                    applicationCache.status != applicationCache.OBSOLETE
                    ) {
                options.isLocal = true;
            }
        });

    </script>
    <title>Test</title>
</head>
<body >
<div data-role="page" data-theme="b">
    <div data-role="header" align="right">
        <h1>Login</h1>
    </div>
    <div data-role="main" class="ui-content" data-theme="a" style="background-image: url('img/main.jpg'); background-repeat: repeat">



        <h1 align="center" style="color : #ffffff">Log in</h1>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div data-role="fieldcontain">
            <label style="color: white " for="name">Username:</label>
            <input type="text" name="name" id="name" value=""  />
        </div>
        <div data-role="fieldcontain">
            <label style="color: white " for="name">Password:</label>
            <input type="text" name="name" id="name" value=""  />
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <a href="#" data-role="button" data-iconpos="right" data-icon="carat-r" >Log in!</a>

    </div>

    <div data-role="footer" align="right">
        <h1>&copy; Wild 2016</h1>
    </div>
</div>
</body>
</html>